<h2>Firefox</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Set current value</label>
    <input class="form-control" formControlName="currentValue" placeholder="ex. Firefox" [ngModel]="currentValue">
    <button class="btn btn-default">Submit</button>
  </div>
</form>
<br>
<h3>Form changes</h3>
<pre><code>{{ formValueChanges | json }}</code></pre>
<h3>Submited form</h3>
<pre>{{ formValue | json }}</pre>
<h3>Current value</h3>
<pre>{{ currentValue }}</pre>